*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-container{
  width: 100%;
  height: 100px;
  background-color: rgb(236, 236, 158);
}
.header-title{
font-size: 38px;
display: flex;
justify-content: center;
padding-top: 25px;
letter-spacing: 5.5px;
}
