*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-container{
  width: 100%;
  height: 100px;
  background-color: rgb(236, 236, 158);
  border-bottom: 1px solid rgb(226, 226, 226);
}
.header-title{
font-size: 38px;
display: flex;
justify-content: start;
padding-left: 38px;
padding-top: 25px;
letter-spacing: 5.5px;
}
/* SIDEBAR */
.sidebar{
  height: 88.3vh;
  width: 505px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgb(245, 245, 180);
  border-right: 1px solid rgb(224, 223, 223);
}
.sidebar-btn, .todo-btn{
  background-color: rgb(236, 236, 158);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 26px;
  width: 250px;
  height: 100px;
  cursor: pointer;
  outline: none;
  color: black;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.sidebar-btn:hover, .todo-btn:hover{
  background-color: rgb(219, 219, 122);
  color:white;
}

.sidebar-text, .todo-text {
  margin-top: 10px;
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-text::after,
.todo-text::after {
  content: " ↓";
  color: black; 
  font-size: 36px;
}
.container-main{
  display: flex;
}
/* TODO */
.todo{
  background-color: rgb(250, 246, 246);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* INPUTPROJECT */
.input-project-item {
  list-style: none;
}

.input-project-container {
  display: flex;
  align-items: center;
}

.input-field {
  margin-right: 8px;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
  margin-left: 6px;
}

.add-button,
.cancel-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; 
}

.cancel-button {
  background-color: #f44336;
}

.add-button:hover,
.cancel-button:hover {
  opacity: 0.8;
}
/* projects in sidebar */
.project-container{
  background-color: rgb(216, 216, 204);
  width: 340px;
  height: 42.5px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin:8px
}
.project-name{
  font-size: 20px;
}
.project-btn-delete{
  background-color: rgb(95, 92, 92);
  color: white;
  border: none;
  padding: 4px 8px; 
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
/* ToDos */
.custom-input-project-item {
  list-style-type: none;
  margin-bottom: 10px;
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-input-project-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100px;
  padding:2px;
}

.custom-input-field {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 45%;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.custom-add-button,
.custom-cancel-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  margin:3px;
  font-size: 18px;
}

.custom-add-button:hover,
.custom-cancel-button:hover {
  background-color: #0056b3;
}
.custom-input-project-first-child{
display: flex;
align-items: center;
justify-content: center;
margin: 7px;
width: 725px;
height: 70px;
padding: 14px;
background-color: rgb(255, 255, 178);
border:1px solid rgb(172, 172, 172);
}
.custom-input-project-second-child{
  width: 100%;
  margin: 6px;
}
/* TODOS */
.custom-todo-item {
  list-style-type: none;
  margin-top: 60px;
  height: 50px;
  width: 900px;
  background-color: rgb(206, 206, 199);
  padding: 4px;
  height: 50px;
  border: 1px solid rgb(104, 104, 104);
}

.custom-todo-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-todo-details p {
  margin-right: 10px;
  font-size: 22px;
}

.custom-todo-actions button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  margin:3px;
  font-size: 18px;
}
.custom-todo-actions button:nth-child(2){
  background-color: red;
}

.custom-todo-title {
  display: flex;
  font-size: 22px;
}
.custom-todo-due-date{
  display: flex;
}
.todo ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-todo-actions{
  display: flex;
  align-items: center;
}
.checkBox{
  width: 35px;
  height: 35px;
  margin-left: 14px;
  cursor: pointer;
}